@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #d5e1ef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__card {
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.5);
    font-family: 'Outfit', sans-serif;

}

.container__card__image {
    width: 98%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container__card__heading {
    color: #20263d;
    font-weight: bolder;
}

.container__card__paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
    color: #969da8;
    padding: 10px;
}